body {
    background-color: lightgreen;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: green;
}

h2 {
    color: darkgreen;
}

p {
    font-size: 18px;
}

li {
    margin: 10px;
}
